{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrapper scroll-wrapper">
        <img class="side-img" src="static/images/ProfessionalHeadShot.jpg">
    </div>
    <div class="wrapper scroll-wrapper">
        <div class="middle-text">
            <p class="text-content">I'm currently a master's student in computer science, studying at Georgia Tech.
                My goal is to work as a research/data scientist or machine learning engineer in the future. My research interests
                include evolutionary algorithms and computation, computer vision, deep learning, optimization, and much more!
            </p>
            <p class="text-content">
                I've worked at Capital One, Georgia Tech Research Institute, Steelcase, and a few other places.
                If you'd like to hear more about my experiences or specifics about some projects, please view my
                <a href="https://drive.google.com/file/d/1Ehshl9HiMXjPaCQq_H5aGAB_FbQUZq5_/view?usp=sharing">resume</a> or ask me directly!</p>

            <p class="text-content">One of my biggest projects is the Automated Algorithm Design group. We're a group of students
                at Georgia Tech that focus on using evolutionary algorithms for creating an AutoML framework, basically using the algorithms to
                find the right machine learning models for any problem, then optimizing those models. If you'd like to learn more
                please visit the <a href="research">Research</a> page!
            </p>

            <p class="text-content">I'm also really proud of another project that's coming soon! Stay tuned!
                If you're impatient, feel free to look at some of the other projects I've done in my <a href="portfolio">portfolio</a>.
            </p>

            <p class="text-content">Surprisingly, I've actually got quite a few hobbies that are
                completely unrelated to computer science! I'm actually really proud of some of the other
                things I do, but be aware they are completly unrelated to my professional activites.
                If I haven't bored you yet, check out the personal section of the site <a href="personal">here</a>.
            </p>

            <br>
        </div>
    </div>
</div>
{% endblock %}
