{% extends "professional/base.html" %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrapper scroll-wrapper">
        <div class="middle-text">
            <p class="text-content">Evolving SimGANs to Improve Abnormal Electrocardiogram Classification.
                Genetic and Evolutionary Computation Conference (GECCO), 2022.
                DOI: <li><a class="navbar-ref" href="https://dl.acm.org/doi/10.1145/3520304.3534048" target="_blank" rel="noopener noreferrer">10.1145/3520304.3534048</a></li>
                arXiv: <li><a class="navbar-ref" href="https://arxiv.org/abs/2205.10116" target="_blank" rel="noopener noreferrer">2205.10116</a></li> 
            </p>

            <br>
        </div>
    </div>
</div>
{% endblock %}
