{% extends "professional/base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
/>
<link
  type="text/css"
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
/>
<link
  type="text/css"
  rel="stylesheet"
  href="{{ url_for('static', filename = 'css/home.css') }}"
/>
<link
  type="text/css"
  rel="stylesheet"
  href="{{ url_for('static', filename = 'css/portfolio.css') }}"
/>
<link
  type="text/css"
  rel="stylesheet"
  href="{{ url_for('static', filename = 'css/card.css') }}"
/>
<link
  type="text/css"
  rel="stylesheet"
  href="{{ url_for('static', filename = 'css/chip.css') }}"
/>
{% endblock %} {% block body %}
<div class="container">
  <div class="wrapper scroll-wrapper">
    <div class="middle-text">
      <p class="text-content">
        I'm interested in evolutionary algorithms and computation, computer
        vision, deep learning, optimization, and much more! I'll be using this
        page to talk about the research that I do, and talk a bit about some
        papers that I enjoyed reading.
      </p>
      <br />
    </div>

    <div class="middle-text">
      <p class="text-content">
        Evolving SimGANs to Improve Abnormal Electrocardiogram Classification.
        Genetic and Evolutionary Computation Conference (GECCO), 2022. DOI:<a
          href="https://dl.acm.org/doi/10.1145/3520304.3534048"
          >10.1145/3520304.3534048</a
        >
        arXiv:<a href="https://arxiv.org/abs/2205.10116">2205.10116</a>
        G. Wang, A. Thite, R. Talebi, A. D'Achille, A. Mussa, J. Zutty. 
      </p>

      <br />
    </div>
  </div>
</div>
{% endblock %}
