{% extends "professional/base.html" %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrapper scroll-wrapper">
        <div class="middle-text">
            <p class="text-content">I'm interested in evolutionary algorithms and computation, computer vision, deep learning, optimization, and much more!
                I'll be using this page to talk about the research that I do, and talk a bit about some papers that I enjoyed reading.
            </p>
            <p class="text-content">
                I've worked at Capital One, Georgia Tech Research Institute, Steelcase, and a few other places.
                If you'd like to hear more about my experiences or specifics about some projects, please view my
                <a href="https://drive.google.com/file/d/1Ehshl9HiMXjPaCQq_H5aGAB_FbQUZq5_/view?usp=sharing" target="_blank" rel="noopener noreferrer">resume</a> or ask me directly!</p>

            <p class="text-content">One of my biggest projects is the Automated Algorithm Design(AAD) group. We're a group of students
                at Georgia Tech that focus on using evolutionary algorithms for creating an AutoML framework, basically using the algorithms to
                find the right machine learning models for any problem, then optimizing those models. If you'd like to learn more
                please visit the <a href="https://www.vip.gatech.edu/teams/vvk" target="_blank" rel="noopener noreferrer">team</a> page!
            </p>

            <p class="text-content"> Unfortunately, most of the work done under the AAD group is proprietary and not open source.
                However, the underlying concepts and research surrounding the group is open for everyone. To help facilitate learning
                and discussion on this more niche research topic, I've created some open source "labs" to act as
                exercises for people to learn more on evolutionary algorithms. The list of labs can be found <a href="research/labs">here</a>.
            </p>

            <p class="text-content"> For more involved projects and topics, I try to write a paper or tech report of the results.
                While these papers aren't published anywhere, aren't peer reviewed, and are not nearly polished enough to be taken seriously, they
                do represent my efforts and thoughts. The list of the papers can be found <a href="research/papers">here</a>.
            </p>

            <p class="text-content"> I read a lot of research papers both for work and out of my own personal interests. I'm of the belief that in
                order to demonstrate true understanding of a topic, you have to be able to explain it to other people. So I'll be writing summaries
                of these papers and putting my own thoughts on the findings as well. The list of the summaries can be found <a href="research/summaries">here</a>.
            </p>

            <p class="text-content">I'm also really proud of another project that's coming soon! Stay tuned!
                If you're impatient, feel free to look at some of the other projects I've done in my <a href="portfolio">portfolio</a>.
            </p>

            <br>
        </div>
    </div>
</div>
{% endblock %}
