{% extends "professional/base.html" %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrapper scroll-wrapper">
        <div class="middle-text">
            <p class="text-content">Summaries
            </p>

            <br>
        </div>
    </div>
</div>
{% endblock %}
