{% extends "professional/base.html" %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrapper scroll-wrapper">
        <div class="middle-text">
            <p class="text-content">I'm currently a software engineer at Google. I work in Google Cloud on ML systems and Cloud AI, focused on
                creating globally scalable infrastructure to support ML workflows and supercomputing applications.
            </p>
            <p class="text-content">
                Previously, I've worked at Capital One, Georgia Tech Research Institute, Steelcase, and a few other places. I got
                my masters and bachelors degrees in computer science at Georgia Tech.
                If you'd like to hear more about my experiences or specifics about some projects, please view my
                <a href={{commonlinks['resume']}} target="_blank" rel="noopener noreferrer">resume</a> or ask me directly!</p>

            <br>
        </div>
    </div>
</div>
{% endblock %}
